// @file CSS styles for time view controls
// @copyright Digital Living Software Corp. 2014-2016

.pip-time-range {
  font-size: 16px !important;
  .separator {
    margin-left: 4px!important; 
    margin-right: 4px!important; 
  }
}
