<div class="pip-date-range layout-row flex" tabindex="-1">
    <md-input-container ng-show="$ctrl.isDay()" class="input-container pip-day flex"
            ng-class="{'flex-fixed' : $ctrl.$mdMedia('gt-xs')}">
        <md-select class="select-day"
                   ng-class="{'pip-no-line' : $ctrl.pipNoLine}"
                   ng-disable="{{$ctrl.disableControls}}"
                   md-on-open="$ctrl.onDayClick()"
                   ng-model="$ctrl.day"
                   ng-change="$ctrl.setValue()"
                   placeholder="{{$ctrl.dayLabel}}"
                   aria-label="DAY">

            <md-option ng-value="opt" ng-repeat="opt in $ctrl.days track by opt ">
               {{$ctrl.nameDays[$index]}} {{ opt }}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container ng-show="$ctrl.isWeek()" class="input-container flex"
                        ng-class="{'flex-fixed' : $ctrl.$mdMedia('gt-xs')}">
        <md-select class="select-week"
                   ng-class="{'pip-no-line' : $ctrl.pipNoLine}"
                   ng-disable="{{$ctrl.disableControls}}"
                   ng-model="$ctrl.week"
                   ng-change="$ctrl.onWeekChange()"
                   placeholder="{{$ctrl.weekLabel}}"
                   aria-label="WEEK">

            <md-option ng-value="opt.id" ng-repeat="opt in $ctrl.weeks track by opt.id">
                {{ opt.name }}
            </md-option>
        </md-select>
    </md-input-container >
    <div class="flex-fixed"
         ng-class="{'space16': $ctrl.$mdMedia('gt-xs'), 'space8':  $ctrl.$mdMedia('xs')}"
         ng-show="$ctrl.isDay() || $ctrl.isWeek()">
    </div>
    <md-input-container ng-show="$ctrl.isMonth() && !$ctrl.monthFormatShort " class="input-container flex"
                        ng-class="{'flex-fixed' : $ctrl.$mdMedia('gt-xs')}">
        <md-select class="select-month"
                   ng-class="{'pip-no-line' : $ctrl.pipNoLine}"
                   ng-disable="{{$ctrl.disableControls}}"
                   md-on-open="$ctrl.onMonthClick()"
                   ng-model="$ctrl.month"
                   ng-change="$ctrl.onMonthChanged()"
                   placeholder="{{$ctrl.monthLabel}}"
                   aria-label="MONTH">

            <md-option ng-value="opt.id" ng-repeat="opt in $ctrl.months track by opt.id">
                {{ opt.name }}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container ng-show="$ctrl.isMonth() && $ctrl.monthFormatShort" class="flex input-container"
                        ng-class="{'flex-fixed' : $ctrl.$mdMedia('gt-xs')}">
        <md-select class="select-month"
                   ng-class="{'pip-no-line' : $ctrl.pipNoLine}"
                   ng-disable="{{$ctrl.disableControls}}"
                   md-on-open="$ctrl.onMonthClick()"
                   ng-model="$ctrl.month"
                   ng-change="$ctrl.onMonthChanged()"
                   placeholder="{{$ctrl.monthLabel}}"
                   aria-label="MONTH">

            <md-option ng-value="opt.id" ng-repeat="opt in $ctrl.shortMonths track by opt.id">
                {{ opt.name }}
            </md-option>
        </md-select>
    </md-input-container>
    <div class="flex-fixed"
         ng-class="{'space16': $ctrl.$mdMedia('gt-xs'), 'space8':  $ctrl.$mdMedia('xs')}"
         ng-show="$ctrl.isMonth()">
    </div>
    <md-input-container class="input-container flex"
                        ng-class="{'flex-fixed' : $ctrl.$mdMedia('gt-xs')}">
        <md-select class="select-year"
                   ng-class="{'pip-no-line' : $ctrl.pipNoLine}"
                   ng-disable="{{$ctrl.disableControls}}"
                   md-on-open="$ctrl.onYearClick()"
                   ng-model="$ctrl.year"
                   ng-change="$ctrl.onYearChanged()"
                   placeholder="{{$ctrl.yearLabel}}"
                   aria-label="YEAR">

            <md-option ng-value="opt" ng-repeat="opt in $ctrl.years track by opt">
                {{ opt }}
            </md-option>
        </md-select>
    </md-input-container>
</div>