<!--
@file Time edit control content
@copyright Digital Living Software Corp. 2014-2016
-->

<div class="event-edit layout-row layout-xs-column flex layout-align-start-start">
    <div flex="47" class="start-time-container ">
        <p class="text-caption text-grey">{{startLabel}}</p>

        <div class="layout-row layout-align-space-between-center">
            <div class="pip-datepicker-container" flex="49">
                <md-datepicker ng-model="data.startDate"
                               xmd-placeholder="{{startLabel}}"
                               ng-change="onChangeStartDate()"
                               ng-disabled="isDisabled()"
                               aria-label="START-DATE">
                </md-datepicker>
            </div>
            <div flex ng-if="showTime">
                <md-input-container class="input-container">
                    <md-select aria-label="START-TIME" ng-model="data.startTime" ng-disabled="isDisabled()"
                               ng-change="onChangeStartTime(data.startTime)">
                        <md-option ng-value="opt.id" ng-repeat="opt in intervalTimeCollection track by opt.id">{{ opt.time }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>
    <div flex="47" class="end-time-container">
        <p class="text-caption text-grey">{{endLabel}}</p>

        <div class="layout-row layout-align-space-between-center">
            <div class="pip-datepicker-container flex-49">
                <md-datepicker ng-model="data.endDate"
                               xmd-placeholder="{{endLabel}}"
                               ng-disabled="isDisabled()"
                               ng-change="onChangeEndDate()"
                               aria-label="END-DATE">
                </md-datepicker>
            </div>
            <div flex ng-if="showTime">
                <md-input-container class="input-container">
                    <md-select aria-label="END-TIME" ng-model="data.endTime" ng-change="onChangeEndTime()"
                               ng-disabled="isDisabled()">
                        <md-option ng-value="opt.id" ng-repeat="opt in intervalTimeCollection track by opt.id">
                            {{ opt.time }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>
</div>
