<h2>Moment Examples</h2>
<div class="h48 p8 layout-row layout-align-start-center">
        <md-menu md-position-mode="target-right target">
                <span ng-click="$mdOpenMenu()"
                      aria-label="language selection">
                    {{ language | translate}}
                    <md-icon md-svg-icon="icons:triangle-down"></md-icon>
                </span>
            <md-menu-content width="3">
                <md-menu-item ng-repeat="lang in languages">
                    <md-button ng-click="onLanguageClick(lang)">{{lang | translate}}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    <div>
        {{language}}
    </div>
</div>    
<p>Now date time: {{date}}</p>
<p>Time between now and 31/10/2011: {{time}}</p>