<h2 class="text-title">{{:: dateLabel | translate}}:</h2>
<pip-date  pip-time-mode="past" ng-model="specialDate" ng-change="changeDate">
</pip-date>
<p class="text-body1">{{:: valueLabel | translate }}: {{ specialDate || 'NULL'  }}</p>

<pre class="text-body1 color-window-bg">
<h3 class="text-subhead2 ">{{:: codeLabel | translate}}</h3>
<code class="language-markup">&lt;pip-date  pip-time-mode="past" ng-change="changeDate()" ng-model="specialDate"&gt;

&lt;/pip-date&gt;
</code>
</pre>

<h3 class="text-subhead2">{{:: disabledLabel | translate }} </h3>
<pip-date ng-model="specialDate" ng-disabled="true">
</pip-date>

<pre class="text-body1 color-window-bg">
<h3 class="text-subhead2">{{:: codeLabel | translate}}</h3>
<code class="language-markup">&lt;pip-date  ng-model="specialDate" ng-disabled="true"&gt;
&lt;/pip-date&gt;
</code>
</pre>

<md-divider class=" pip-list-divider"></md-divider>

<h2 class="text-title ">{{:: teimeEditLabek | translate }}:</h2>

<pip-time-range-edit pip-start-date="startDate" pip-end-date="endDate" pip-changed="timeChange"></pip-time-range-edit>

<h2 class="text-title ">{{:: teimeEditLabek | translate }}: without time</h2>
<pip-time-range-edit pip-start-date="startDate" pip-end-date="endDate" pip-hide-time="true" pip-changed="timeChange"></pip-time-range-edit>

<pre class="text-body1 color-window-bg">
<h3 class="text-subhead2">{{:: codeLabel | translate}}</h3>
<code class="language-markup">&lt;pip-time-range-edit pip-start-date="startDate" pip-end-date="endDate"&gt;
&lt;/pip-time-range-edit&gt;
</code>
</pre>

<pip-time-range pip-start-date="startDate" pip-end-date="endDate" pip-rebind="true"></pip-time-range>

<pre class="text-body1 color-window-bg">
<h3 class="text-subhead2">{{:: codeLabel | translate}}</h3>
<code class="language-markup">&lt;pip-time-range pip-start-date="startDate" pip-end-date="endDate" pip-rebind="true"&gt;
&lt;/pip-time-range&gt;
</code>
</pre>
<h3 class="text-subhead2">{{:: disabledLabel | translate }}</h3>
<pip-time-range-edit pip-start-date="startDate" pip-end-date="endDate" ng-disabled="true"></pip-time-range-edit>

<pre class="text-body1 color-window-bg">
<h3 class="text-subhead2">{{:: codeLabel | translate}}</h3>
<code class="language-markup">&lt;pip-time-range-edit pip-start-date="startDate" pip-end-date="endDate" ng-disabled="true"&gt;
&lt;/pip-time-range-edit&gt;
</code>
</pre>

<md-divider class=" pip-list-divider"></md-divider>


<h2 class="text-title ">{{:: dateRangeLabel | translate }}:</h2>
<h3 class="text-subhead2">{{:: dailyLabel| translate }}: </h3>
<pip-date-range pip-date-range-type="daily" ng-model="daily"></pip-date-range>
<p class="text-body1 tm16 bm16">{{:: valueLabel | translate }}: {{ daily }}</p>

<pre class="text-body1 color-window-bg">
<h3 class="text-subhead2">{{:: codeLabel | translate}}</h3>
<code class="language-markup">&lt;pip-date-range pip-date-range-type="daily" ng-model="daily"&gt;
&lt;/pip-date-range&gt;
</code>
</pre>

<md-divider class=" pip-list-divider"></md-divider>

<h3 class="text-subhead2">{{:: weeklyLabel | translate}}: </h3>
<pip-date-range pip-date-range-type="weekly" ng-model="weekly" pip-changed="onChangeWeekly()"></pip-date-range>
<p class="text-body1 tm16 bm16">{{:: valueLabel | translate }}: {{ weekly }}</p>
<md-button class="l md-raised md-accent flat" ng-click="onNextWeek()">
    {{:: nextWeekLabel | translate }}
</md-button>

<pre class="text-body1 color-window-bg">
<h3 class="text-subhead2">{{:: codeLabel | translate}}</h3>
<code class="language-markup">&lt;pip-date-range pip-date-range-type="weekly" ng-model="weekly"&gt;
&lt;/pip-date-range&gt;
</code>
</pre>

<md-divider class=" pip-list-divider"></md-divider>

<h3 class="text-subhead2">{{:: monthlyLabel | translate }}: </h3>
<pip-date-range pip-date-range-type="monthly" ng-model="monthly"></pip-date-range>
<p class="text-body1 tm16 bm16">{{:: valueLabel | translate }}: {{ monthly }}</p>

<h3 class="text-subhead2">{{:: codeLabel | translate}}</h3>
<pre class="text-body1 color-window-bg">
<h3 class="text-subhead2">{{:: codeLabel | translate}}</h3>
<code class="language-markup">&lt;pip-date-range pip-date-range-type="monthly" ng-model="monthly"&gt;
&lt;/pip-date-range&gt;
</code>
</pre>

<md-divider class=" pip-list-divider"></md-divider>

<h3 class="text-subhead2">{{:: yearlyLabel | translate}}: </h3>
<pip-date-range pip-date-range-type="yearly" ng-model="yearly"></pip-date-range>
<p class="text-body1 tm16 bm16">{{:: valueLabel | translate }}: {{ yearly }}</p>

<pre class="text-body1 color-window-bg">
<h3 class="text-subhead2">{{:: codeLabel | translate}}</h3>
<code class="language-markup">&lt;pip-date-range pip-date-range-type="yearly" ng-model="yearly"&gt;
&lt;/pip-date-range&gt;
</code>
</pre>
