        /*.pip-title > h1 {
            margin-top: 20px;
            margin-bottom: 5px;
        }

        .pip-title > div {
            margin-bottom: 30px;
        }

        .pip-section > h2 {
            margin-bottom: 5px;
        }*/



@media (max-width: 1200px) {
	.sample-container {
		padding: 16px;
	}
	.sample-container .content-divider {
		margin: 8px -16px;
	}	
}

.sample-container {
    padding: 24px;
}

.sample-container .content-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 8px -24px;
}

.sample-container .text-subhead2 {
	margin: 16px 0px;
}

.w-stretch{
    width: 100%;
}

.scroll{
    overflow: auto;
}

.sample-container h2.text-title {
	margin-top: 0px;
	margin-bottom: 24px;
}        

.sample-container .table {
	border: 2px solid grey;
    border-collapse: collapse;
}    

.sample-container .table td, .sample-container .table th {
	border: 2px solid grey;
    padding: 8px;
}    