.pip-date {
  .pip-date-day,
  .pip-date-month,
  .pip-date-year {
    height: 30px;
    margin-top: 0px!important;
  }

  .input-container {
    margin-top: 0px!important;
  }

  .input-container-separator {
    width: 16px!important;
  }
  
  .md-select-value {
    //  min-width: 2.6em !important;

    span {
      //   min-width: 2.4em !important;
      //flex: 1 1 auto !important;
      .md-text {
        padding-right: 0 !important;
        flex: 1 1 auto;
      }
    }

    span.md-select-icon {
      width: 12px !important;
      //    min-width: 12px !important;
    }
  }
}

